<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Información del Usuario</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        <link rel="stylesheet" href="./css/styles.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="../js/user.js"></script>
    </head>
    <body>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                    sesión</a></li>
        </ul>
        <h1>Bienvenido, <span th:text="${#authentication.name}">tecnicos</span></h1>
        <div id="infoContainer" class="container">
            <h2>Tu Información</h2>
            <p>Nombre de Usuario: <span th:text="${username}"></span></p>
            <p>ID: <span th:text="${id}"></span></p>
            <p th:if="${authorities}">Rol autenticado: <span th:text="${authorities}"></span></p>

            <p>Esta es la página de inicio para los Tecnicos.</p>
        </div>
        
            </body>
</html>