<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
     <!-- Display the error message if it exists -->
    <div>
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
    <form id="login-form" action="/currentUser" th:action="@{/currentUser}" method="POST">
                <!-- Incluye el token CSRF en el formulario -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
         <!--<input type="hidden" id="csrf-token" name="_csrf" th:value="${_csrf.token}">-->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>

    <!--<script src="./js/login.js"></script>-->
</body>
</html>
