<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="./css/register.css">
        <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
     <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Registro de Usuario</h1>
    <form id="registro-form" th:action="@{/register}" method="post">
        <input type="hidden" id="csrf-token" name="_csrf" th:value="${_csrf.token}">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required><br><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm-password">Repetir Contraseña:</label>
        <input type="password" id="confirm-password" name="confirm-password" required><br><br>

        <span id="password-match-message" style="color: red; display: none;">Las contraseñas no coinciden</span>
       
        <label for="tipo-usuario">Tipo de Usuario:</label>
        <select id="tipo-usuario" name="tipo-usuario" required>
            <option value="cliente">Cliente</option>
            <option value="tecnico">Técnico</option>
        </select><br><br>

        <div id="campos-tecnico" class="oculto">
             <label for="especialidades">Buscar Especialidades:</label>
            <input type="text" id="buscador-especialidades" placeholder="Buscar especialidad"><br><br>
            
            <label for="especialidades">Especialidades:</label>
            <select id="especialidades" name="especialidades" multiple>
                <!-- Las opciones serán cargadas dinámicamente con Thymeleaf -->
                <option th:each="especialidad : ${especialidades}" 
                        th:value="${especialidad.id}" 
                        th:text="${especialidad.nombre}"></option>
            </select>
            <button type="button" id="agregar-especialidad">Agregar</button><br><br>
                     <div id="especialidades-seleccionadas">
                <h4>Especialidades seleccionadas:</h4>
                <ul id="lista-especialidades"></ul>
            </div>
        </div>

        <input type="submit" value="Registrar">
    </form>
    <script src="./js/register.js"></script>
</body>

</html>
